{% extends 'base.html' %}

{% block title %}Checkout Berhasil{% endblock %}

{% block content %}
<div class="container text-center py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4 fs-4">🎉 Pesanan Berhasil!</h1>
            <p class="lead fs-5">Terima kasih telah berbelanja di toko kami.</p>
            <p>Pesanan Anda telah berhasil diproses.</p>
            <p class="text-danger" style="font-weight: bold;">SIMPAN BUKTI PESANAN INI.</p>
            
            {% if order_id %}
            <a href="{{ url_for('generate_receipt', order_id=order_id) }}" class="btn btn-primary btn-lg mt-3" download>
                Unduh Struk PDF
            </a>
            {% endif %}

            <div class="mt-5">
                <a href="{{ url_for('index') }}" class="btn btn-outline-info">Kembali ke Beranda</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}